<% include header.html %>

<section class="cta paginaPrivado">
  <div class="cta-content">
    <div class="container">
      <h2>Mi espacio privado.</h2>

      <!-- Llamada con formulario (MPA) -->
      <form action="privado/sendEmail" method="POST">
        <input type="text" name="texto">
        <button type="submit">Mandame un email con formulario (MPA)</button>
      </form>

      <!-- Llamada con AJAX (SPA) -->
      <form>
        <input type="text" v-model="texto">
        <button type="button" 
                class="btn btn-outline-success"
                v-on:click="sendMessageToUser">Mandame un email con AJAX (SPA)</button>
        <p class="message">{{message}}</p>
      </form>

    </div>
  </div>
  <div class="overlay"></div>
</section>

<script src="https://cdn.jsdelivr.net/npm/vue"></script>

<script>
var paginaPrivado = new Vue({
  el: '.paginaPrivado',
  data: {
    texto: '',
    message: 'Preparado para mandar...'
  },
  methods: {
    sendMessageToUser: async function() {
      try {
        this.message = 'Enviando...';
        const data = await postData('privado/sendEmail', {
          texto: this.texto
        });
        this.message = `Mensaje ${this.texto} enviado!!!`;
      } catch(err) {
        console.log(err);
        this.message = error.message;
      }
    }
  }
});

function postData(url = ``, data = {}) {
  // Default options are marked with *
    return fetch(url, {
        method: "POST", // *GET, POST, PUT, DELETE, etc.
        mode: "cors", // no-cors, cors, *same-origin
        cache: "no-cache", // *default, no-cache, reload, force-cache, only-if-cached
        credentials: "same-origin", // include, same-origin, *omit
        headers: {
            "Content-Type": "application/json; charset=utf-8",
            // "Content-Type": "application/x-www-form-urlencoded",
        },
        redirect: "follow", // manual, *follow, error
        referrer: "no-referrer", // no-referrer, *client
        body: JSON.stringify(data), // body data type must match "Content-Type" header
    })
    .then(response => response.json()); // parses response to JSON
}

</script>


<% include footer.html %>
